#content  {
    padding: 1em;
  }
  
  button.btn:hover {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 1em;
    padding: 0.5em;
    color: gray;
    background-color: black;
  }
  
  button.btn {
    font-family: 'Dancing Script', cursive;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2.5em;
    padding: 0.5em;
    color: white;
    background-color: black;
  }
  .title-desc  {
    overflow-x: visible;
    background-color: pink;
    height: 300px;
    width: 300px;
    background-image: linear-gradient(to bottom, rgba(255,255,255, 1), rgba(0,0,0, 0.1)); 
  }
  h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 1.9em;
    font-weight: bold;
  }
  .title-desc {
    position: relative;
    top: 44px;
    left: 55px;
  }
  p.title-desc {
    font-family: 'Oleo Script', cursive;
    line-height: 1.75em;
  }
  #box-info {
    z-index: 2;
    max-height: 100%;
    max-width: 600px;
  }
   