button.btn:hover {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 1em;
    padding: 0.5em;
    color: gray;
    background-color: black;
  }
  
  button.btn {
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 2.5em;
    padding: 0.5em;
    color: white;
    background-color: black;
  }